@font-face {
  font-family: 'DM Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
}

body {
  background-color: darkgray;
  max-width: 118rem;
}

#header_1 {
  background-color: rgb(6, 17, 42);
  height: 35rem;
  padding-bottom: 8rem;
}

h1 {
  color: white;
  margin-left: 8rem;
  font-family: DM Sans, sans-serif;
  content: none;
}

#foto {
  border-radius: 100%;

  margin-left: 6rem;
  margin-top: 3rem;
  max-width: 50%;
  min-height: 50%;
}

#foto2 {
  margin-top: -28.5rem;
  margin-left: 28rem;
  border-radius: 3%;
  box-sizing: border-box;
  max-width: 75%;
  min-height: 100%;
}

#profile {
  color: white;
  font-size: large;
  margin-left: 6rem;
  display: table;
  max-width: 100%;
  min-height: 100%;
  font-family: DM Sans, sans-serif;
}

h2 {
  font-family: DM Sans, sans-serif;
  font-size: large;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-bottom: 0;
}

#img_ {
  margin-left: 2rem;
  max-width: 50%;
  min-height: 50%;
}

h3 {
  font-family: DM Sans, sans-serif;
  margin-left: 3rem;
  margin-top: 0;
}

h4 {
  font-family: DM Sans, sans-serif;
  margin-left: 3rem;
}

p {
  font-family: DM Sans, sans-serif;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 4rem;
  text-align: justify;
}

footer {
  background-color: rgb(26, 35, 77);
  padding-top: 3rem;
}

#lk {
  max-width: 2%;
  min-height: 2%;
  /* display: flex; */
  align-items: center;
  padding-inline: 0.45rem;
}

#lk1 {
  margin-bottom: 2rem;
  text-align: center;
}

#dio {
  max-width: 5%;
  min-height: 5%;
}

#copyright {
  color: white;
  font-family: DM sans, sans-serif;
  text-align: center;
  margin-top: 1rem;
}

#fale {
  border-radius: 10%;
  text-align: center;
  margin-left: 112rem;
}
